.no-member-poll {
  padding: 10px;
  border-top: 2px solid  rgb(205, 117, 163);
  border-left: 1px solid  rgb(205, 117, 163, 0.9);
  border-bottom: 1px solid  rgb(205, 117, 163, 0.9);
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(12, 6, 44, 1) 0%, rgba(213, 55, 113, 0.9), rgba(12, 6, 44, 1) 100%);
}

.no-member-poll p {
  font-size: 12px;
  color: #fff;
}